{% extends 'web/base.html' %}
{% block content %}
    <h2>Виды спорта</h2>
    <ul>
        {% for sport in kind_of_sport %}
            <li>{{ sport.title }}: {{ sport.description }}
                <small><a href="{% url 'kind_of_sport_delete' sport.id %}">удалить</a></small>
            </li>
        {% endfor %}
    </ul>

    <b>Добавление спорта</b>
    <form action="", method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>Сохранить</button>
    </form>

{% endblock %}